<div class="container">
  <h1>TLDR</h1>
</div>
<div class="container">
  <div class="article-list">
    <ul class="article-list-items">
      <% articles.forEach(function(article) { %>
        <li> 
          <a href="/<%= article.title %>"> <%= article.title %> - <%= article.rating %></a>
      </li>
      <% }) %>
    </ul>
  </div>
</div>
