<h1>Mutha F*ckin' Articles</h1>

<div class="container">
  <div class="article-list">
    <ul class="article-list-items">
      <% articleNames.forEach(function(articleTitle) { %>
        <li> <a href="/<%= articleTitle %>"><%= articleTitle %> </a></li>
      <% }) %>
    </ul>
  </div>
</div>
