<div  id="homepage" v-cloak>
  <div class="container">
    <h1>Mutha F*ckin' Articles</h1>
  </div>
  <div class="container">
    <div class="article-list">
      <ul class="article-list-items">
        <% articles.forEach(function(article) { %>
          <li> 
            <a class="article" href="/<%= article.title %>"> <%= article.title %> - <%= article.rating %></a>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>
