<h1>Mutha F*ckin' Articles</h1>

<div class="container">
  <div class="article-list">
    <ul class="article-list-items">
      <% articles.forEach(function(article) { %>
        <li> 
          <a href="/<%= article.title %>">
            <%= article.title%> - <%= article.rating %>
        </a>
        <button class="rating-button-upvote">Upvote</button>
        <button class="rating-button-downvote">Downvote</button>
      </li>
      <% }) %>
    </ul>
  </div>
</div>
